DJANGO_SECRET_KEY=change-me
DJANGO_SETTINGS_MODULE=config.settings.dev
DATABASE_URL=postgres://gfrm:gfrm@db:5432/gfrm
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
